<!--
    __  _____  _________    
   /  |/  /  |/  / ____/____
  / /|_/ / /|_/ / /   / ___/
 / /  / / /  / / /___(__  ) 
/_/  /_/_/  /_/\____/____/  
-->
{% from 'macros.html' import link_field %}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} · MMCs</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block styles %}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock styles %}
</head>

<body>
{% block navbar %}
{% endblock navbar %}

<main>
    <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert">
                    <span class="oi oi-delete"></span>
                </button>
                {{ message[1] }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock content %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="float-left">
                        <small> &copy; {{ current_year() }}
                            <a href="http://sxjm.ncst.edu.cn"
                               title="{{ _('North China University of Science and Technology University Mathematical Modeling Association') }}"
                               data-toggle="tooltip">
                                NCUST-MMA /</a>
                            {{ link_field("Zero", "https://github.com/Zeroto521", "Written by Zeroto521") }}
                        </small>
                    </p>
                </div>
                <div class="col-6">
                    <p class="float-right">
                        <small>
                            <a title="{{ _('North China University of Science and Technology University Mathematical Modeling Competition system') }}"
                               data-toggle="tooltip">{{ _('Mathematical Modeling Competition system') }}</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</main>

{% block scripts %}
    {{ bootstrap.load_js() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/respond.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock scripts %}
</body>

</html>
