[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flask-debugtoolbar = "*"

[packages]
flask = "*"
python-dotenv = "*"
bootstrap-flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
flask-babel = "*"
pypinyin = "*"
faker = "*"
pandas = "*"
openpyxl = "*"
gunicorn = "*"
fcntl = "*"
