[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
flask-debugtoolbar = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
pypinyin = "*"
python-dotenv = "*"
flask-babel = "*"

[requires]
python_version = "3.7"
