Babel
Bootstrap-Flask
Faker
Flask
Flask-Babel
Flask-Bootstrap
Flask-CKEditor
Flask-DebugToolbar
Flask-Dropzone
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Jinja2
pypinyin
python-dotenv
SQLAlchemy
WTForms
pandas
openpyxl
gunicorn
psycopg2
flask-caching
flask-apscheduler
numba