{% extends 'backstage/admin/base.html' %}

{% block title %}Score{% endblock %}

{% block setting_content %}
    <div class="card w-100">
        <h4 class="card-header">{{ _('Score Management') }}</h4>
        {% if is_start() %}
            <div class="card-body">
                <div class="btn-group btn-group-vertical btn-block" role="group">
                    <a class="btn btn-info" href="{{ url_for('admin.download_teacher') }}">
                        <span class="oi oi-data-transfer-download"></span> {{ _("Download all teachers result") }}
                    </a>
                    <a class="btn btn-info" href="{{ url_for('admin.download_result') }}">
                        <span class="oi oi-data-transfer-download"></span> {{ _("Download the final result") }}
                    </a>
                </div>
            </div>
        {% else %}
            {% include "backstage/tips/no_start.html" %}
        {% endif %}
    </div>
{% endblock %}
