{% extends 'backstage/admin/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Overview{% endblock %}

{% block setting_content %}
<div class="card w-100 bg-light">
    <h3 class="card-header">Overview</h3>
    {% if is_start(get_current_year()) %}
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 45%">
                教师完成度: 45%
            </div>
        </div>
    </div>
    {% else %}
        {% include "backstage/_tip.html" %}
    {% endif %}
</div>
{% endblock %}
