{% extends 'backstage/admin/base.html' %}

{% block title %}Overview{% endblock %}

{% block setting_content %}
    <div class="card w-100 bg-light">
        <h3 class="card-header">
            {{ _('Progress') }}
            {% if is_start() and task_all is number %}
                <small>{{ task_finished }} / {{ task_all }}</small>
            {% endif %}
        </h3>
        {% if is_start() %}
            {% if task_all is number %}
                {% if task_all > 0 %}
                    <div class="card-body">
                        <div class="progress">
                            {% set progress = task_finished / task_all %}
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: {{ progress|default(0) }}%">
                                {{ _('All tasks finished') }}: {{ '%0.2f'|format(progress|float)|default(0) }}%
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% include "backstage/tips/no_task.html" %}
                {% endif %}
            {% else %}
                {% include "backstage/tips/no_solution.html" %}
            {% endif %}
        {% else %}
            {% include "backstage/tips/no_start.html" %}
        {% endif %}
    </div>
{% endblock %}
