{% extends 'backstage/admin/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Task{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}" type="text/css">
    {{ dropzone.style('margin: 20px 0; border: 2px dashed #0087F7; min-height: 400px;') }}
{% endblock styles %}

{% block setting_content %}
{% if is_start(get_current_year()) %}
    <div class="card w-100 bg-light">
        <h3 class="card-header">File Upload</h3>
        <div class="card-body">
            <div class="col-md-12">
                {{ dropzone.create(action='admin.task_management') }}
            </div>
        </div>
    </div>

    <div class="card w-100 bg-light">
        <h3 class="card-header">
            Solutions
            <small class="text-muted">{{ pagination.total }}</small>
        </h3>
            <div class="card-body">
                {% if solutions %}
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>File Name</th>
                                <th>UUID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        {% for solution in solutions %}
                        <tr class="text-center">
                            <td>{{ pagination.total - (per_page*(page-1) + loop.index) + 1 }}</td>
                            <td>{{ solution.name }}</td>
                            <td>{{ solution.uuid }}</td>
                            <td>
                                <form class="inline" action="{{ url_for('admin.delete_task', task_id=solution.id) }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="submit" onclick="return confirm('Are you sure?');" class="btn btn-danger btn-sm" value="Delete">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="page-footer">{{ render_pagination(pagination) }}</div>
                {% else %}
                    <div class="tip">
                        <span class="oi oi-ban"></span>
                        No solutions
                    </div>
                {% endif %}
            </div>
    </div>
{% else %}
    <div class="card w-100 bg-light">
        <h3 class="card-header">Task Management</h3>
        {% include "backstage/_tip.html" %}
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    {{ dropzone.config() }}
{% endblock scripts %}
