{% extends 'backstage/teacher/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Task{% endblock %}

{% block setting_content %}
<div class="card w-100 bg-light">
    <h3 class="card-header">
        {{ _('Tasks Management') }}
        {% if is_start() %}
            <small class="text-muted">{{ pagination.total|default(0) }}</small>
        {% endif %}
    </h3>
    {% if is_start() %}
        <div class="card-body">
            {% if tasks %}
            <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">{{ _('Problem') }}</th>
                        <th scope="col">{{ _('UUID') }}</th>
                        <th scope="col" width="75px">{{ _('Score') }}</th>
                        <th scope="col" width="350px">{{ _('Remark') }}</th>
                        <th scope="col">{{ _('Actions') }}</th>
                    </tr>
                </thead>
                {% for task in tasks %}
                <tr class="text-center">
                        <td scope="row">{{ pagination.total - (per_page*(page-1) + loop.index) + 1 }}</td>
                        <td>{{ task.problem }}</td>
                        <td>
                            <a href="{{ url_for('backstage.get_solution', filename=task.solution_uuid) }}" target="_blank">
                            {{ task.solution_uuid }}</a>
                        </td>
                        <form role="form" action="{{ url_for('teacher.change', task_id=task.id) }}" method="post">
                            {{ form.csrf_token() }}
                            <td>
                                {% if task.score %}
                                    {{ form.score(class="form-control form-control-sm text-center", value=task.score) }}
                                {% else %}
                                    {{ form.score(class="form-control form-control-sm text-center") }}
                                {% endif %}
                            </td>
                            <td>
                                {% if task.remark %}
                                    {{ form.remark(class="form-control form-control-sm text-center", value=task.remark) }}
                                {% else %}
                                    {{ form.remark(class="form-control form-control-sm text-center") }}
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-info btn-sm">
                                    <span class="oi oi-circle-check"></span> {{ _("Update") }}
                                </button>
                            </td>
                        </form>
                </tr>
                {% endfor %}
            </table>
            </div>
            <div class="page-footer">{{ render_pagination(pagination) }}</div>
            {% else %}
                {% include "backstage/tips/no_solution.html" %}
            {% endif %}
        </div>
    {% else %}
        {% include "backstage/tips/no_start.html" %}
    {% endif %}
</div>
{% endblock %}
