{% extends 'backstage/teacher/base.html' %}

{% block title %}Overview{% endblock %}

{% block setting_content %}
<div class="card w-100 bg-light">
    <h3 class="card-header">
        {{ _('Progress') }}
        {% if is_start() and task_number is number and progress is number %}
        <small>
            {{ '%d'|format(progress * task_number) }} / {{ task_number }}
        </small>
        {% endif %}
    </h3>
    {% if is_start() %}
    {% if task_number is number %}
    {% if progress is number %}
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress|default(0) }}%">
                {{ _('Finished') }}: {{ '%0.2f'|format(progress|float)|default(0) }}%
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-right">
            {% if progress == 100 %}
            <a class="btn btn-success" href="{{ url_for('teacher.manage_task') }}">
                {{ _('Done') }}
            </a>
            {% elif 0 < progress < 100 %}
            <a class="btn btn-primary" href="{{ url_for('teacher.manage_task') }}">
                {{ _('Contiue') }}
            </a>
            {% else %}
            <a class="btn btn-info" href="{{ url_for('teacher.manage_task') }}">
                {{ _('Start') }}
            </a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="tip text-center">
        <span class="oi oi-ban"></span>
        {{ _('No Tasks.') }}
    </div>
    {% endif %}
    {% else %}
    {% include "backstage/tips/no_solution.html" %}
    {% endif %}
    {% else %}
    {% include "backstage/tips/no_start.html" %}
    {% endif %}
</div>
{% endblock %}
