{% extends 'backstage/teacher/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}Score{% endblock %}

{% block setting_content %}
<div class="card w-100 bg-light">
    <h3 class="card-header">
        Solutions <small class="text-muted">{{ pagination.total }}</small>
    </h3>
    {% if is_start(get_current_year()) %}
        <div class="card-body">
            {% if distributions %}
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <th hidden>ID</th>
                        <th scope="col">#</th>
                        <th scope="col">UUID</th>
                        <th scope="col">Score</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {% for distribution in distributions %}
                <tr class="text-center">
                    <form method="post">
                        {{ form.csrf_token() }}
                        <td hidden>{{ form.id(value=distribution.id, readonly=True, hidden=True) }}</td>
                        <td scope="row">{{ pagination.total - (per_page*(page-1) + loop.index) + 1 }}</td>
                        <td><a href="{{ url_for('admin.get_solution', filename=distribution.solution_uuid) }}">{{ distribution.solution_uuid }}</a></td>
                        <td>
                            {{ form.score(class="form-control form-control-sm text-center", value=distribution.score) }}
                        </td>
                        <td>{{ form.submit(class="btn btn-info btn-sm") }}</td>
                    </form>
                </tr>
                {% endfor %}
            </table>
            <div class="page-footer">{{ render_pagination(pagination) }}</div>
            {% else %}
                <div class="tip">
                    <span class="oi oi-ban"></span>
                    No solutions.
                </div>
            {% endif %}
        </div>
    {% else %}
        {% include "backstage/_tip.html" %}
    {% endif %}
</div>
{% endblock %}
