{% extends 'backstage/root/base.html' %}

{% block title %}Personnel{% endblock %}

{% block setting_content %}
    <div class="card w-100">
        <div class="card-header">
            <div class="nav nav-tabs card-header-tabs" role="tablist">
                {{ render_nav_item("root.personnel_list", _("Personnel List")) }}
                {{ render_nav_item("root.register", _("Register")) }}
                {% if request.endpoint and request.endpoint == "root.edit_profile" %}
                    <a class="nav-link active">
                        {{ _("Edit Profile") }}
                    </a>
                {% endif %}
                {% if request.endpoint and request.endpoint == "root.change_username" %}
                    <a class="nav-link active">
                        {{ _("Change Username") }}
                    </a>
                {% endif %}
                {% if request.endpoint and request.endpoint == "root.change_password" %}
                    <a class="nav-link active">
                        {{ _("Change Password") }}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% block personnel_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
