{% extends 'backstage/admin/base.html' %}

{% block title %}Task{% endblock %}

{% block setting_content %}
<div class="card w-100 bg-light">
    <div class="card-header">
        <div class="nav nav-tabs card-header-tabs" role="tablist">
            {{ render_nav_item("admin.method", _("Method")) }}
            {{ render_nav_item("admin.method_manual", _("Manual")) }}
            {% set endpoint = "admin.check_user" %}
            <a class="nav-link {% if request.endpoint and request.endpoint == endpoint %}active{% endif %}">
                {{ _('Check') }}</a>
            {% set endpoint = "admin.task_add_list" %}
            <a class="nav-link {% if request.endpoint and request.endpoint == endpoint %}active{% endif %}">
                {{ _('Add') }}</a>
        </div>
    </div>
    <div class="card-body">
        {% block task_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
