{% extends 'backstage/admin/base.html' %}

{% block title %}Task{% endblock %}

{% block setting_content %}
    <div class="card w-100 bg-light">
        <div class="card-header">
            <div class="nav nav-tabs card-header-tabs" role="tablist">
                {{ render_nav_item("admin.method", _("Method")) }}
                {{ render_nav_item("admin.teacher_view", _("Teacher View")) }}
                {{ render_nav_item("admin.solution_view", _("Solution View")) }}
                {% if request.endpoint and request.endpoint == "admin.check_user" %}
                    <a class="nav-link active">
                        {{ _('Check') }}
                    </a>
                {% endif %}
                {% if request.endpoint and request.endpoint == "admin.task_add_list" %}
                    <a class="nav-link active">
                        {{ _('Add') }}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% block task_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
