{% extends 'backstage/admin/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Personnel{% endblock %}

{% block setting_content %}
<div class="card">
    <div class="card-header">
        <div class="nav nav-tabs card-header-tabs" role="tablist">
            {{ render_nav_item('admin.task_list', 'Task List') }}
            {{ render_nav_item('admin.upload', 'Upload') }}
        </div>
    </div>
    <div class="card-body">
        {% block task_setting_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
