{% extends 'backstage/root/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Personnel{% endblock %}

{% block setting_content %}
<div class="card w-100 bg-light">
    <h3 class="card-header">Personnel Management</h3>
    <div class="card-body">
        {% if users %}
        <div class="page-header">
            <h2>Users
                <small class="text-muted">{{ pagination.total }}</small>
            </h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Username</th>
                    <th>Realname</th>
                    <th>permission</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.realname }}</td>
                <td>{{ user.permission }}</td>
                <td>
                    <form class="inline" action="#" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" onclick="return confirm('Are you sure?');" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
        {% else %}
        <div class="tip">
            <h5>No Users.</h5>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
