<p>华北理工大学数学建模协会是在校团委领导下，以理学院为向导，由教务处设立专项竞赛资金，同时依托以升大学生创新实验中心，由本校学生组成的校级学生社团组织。</p>

<p>协会成立于 2014 年 3 月，是一个充满活力的新型学生社团，在成长的过程中，始终坚持 &ldquo;团结，进取，求实，创新&rdquo; 的原则，在校内社团中具有较好的口碑。协会性质属学术科技类，是以宣传数学建模，推广数学建模知识，活跃校园学术气氛，促进学校素质教育的发展为宗旨的学生社团。</p>

<p>一个社团的长久发展离不开一个优秀的组织分配结构，数学建模协会亦是如此。目前协会下设有教师顾问团、领导小组、往届优秀参赛选手团队、普通会员四大组织机构，以维持协会更好的运作及发展。</p>

<p>近些年来协会稳定发展，协会在编会员达 600 余人，其中包括教师顾问团 30 多人，领导小组 200 余人，往届优秀参赛选手团队 40 余人，普通会员 2000 余人，成员几乎遍布我校各个理工科专业。目前，数学建模学生创新团队核心成员达 40 余人，依托数学建模创新实验室，积极开展各项数学建模竞赛，并取得了较好的成绩。</p>

<p>协会成立以来，积极组织我校学子参加各类数学建模竞赛，取得了较好成绩，为我校赢得了荣誉。</p>
