<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-tab1-list" data-toggle="list" href="#list-tab1"
                    role="tab" aria-controls="tab1">Overview</a>
                <a class="list-group-item list-group-item-action" id="list-tab2-list" data-toggle="list" href="#list-tab2"
                    role="tab" aria-controls="tab2">作品管理</a>
                <a class="list-group-item list-group-item-action" id="list-tab3s-list" data-toggle="list" href="#list-tab3s"
                    role="tab" aria-controls="tab3s">评分管理</a>
                <a class="list-group-item list-group-item-action" id="list-tab4-list" data-toggle="list" href="#list-tab4"
                    role="tab" aria-controls="tab4">tab4</a>
            </div>
        </div>

        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-tab1" role="tabpanel" aria-labelledby="list-tab1-list">a</div>
                <div class="tab-pane fade" id="list-tab2" role="tabpanel" aria-labelledby="list-tab2-list">b</div>
                <div class="tab-pane fade" id="list-tab3s" role="tabpanel" aria-labelledby="list-tab3s-list">c</div>
                <div class="tab-pane fade" id="list-tab4" role="tabpanel" aria-labelledby="list-tab4-list">...</div>
            </div>
        </div>
    </div>
</div>
