<p>&nbsp; 华北理工大学数学建模协会是在校团委领导下，以理学院为向导，由教务处设立专项竞赛资金，同时依托以升大学生创新实验中心，由本校学生组成的校级学生社团组织。</p>

<p>&nbsp; 协会成立于2014年3月，是一个充满活力的新型学生社团，在成长的过程中，始终坚持&ldquo;团结，进取，求实，创新&rdquo;的原则，在校内社团中具有较好的口碑。协会性质属学术科技类，是以宣传数学建模，推广数学建模知识，活跃校园学术气氛，促进学校素质教育的发展为宗旨的学生社团。</p>

<p>&nbsp; 一个社团的长久发展离不开一个优秀的组织分配结构，数学建模协会亦是如此。目前协会下设有教师顾问团、领导小组、兴趣小组、往届优秀参赛选手团队、普通会员五大组织机构，以维持协会更好的运作及发展。</p>

<p>&nbsp; 经过一年多的稳定发展，协会在编会员达600余人，其中包括教师顾问团20人，领导小组70人，兴趣小组30余人，往届优秀参赛选手团队40余人，普通会员400余人,成员几乎遍布我校各个理工科专业。目前，数学建模学生创新团队核心成员达31人（1名会长、1名名誉顾问、1名学生技术顾问、4名副会长、8名部长、16名副部长），依托数学建模创新实验室，积极开展各项数学建模竞赛和大学生创新创业训练计划项目，并取得了较好的成绩。</p>

<p>&nbsp; 协会成立以来，积极组织我校学子参加各类数学建模竞赛，取得了较好成绩，为我校赢得了荣誉。近年来，我校学子共获一等奖22项，二等奖54项，三等奖44项，参赛奖33项（包括国际一等奖1项，二等奖19项，三等奖15项，国家级二等奖2项）。</p>
