{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" href="#tab1" data-toggle="tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab">教师管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab3" data-toggle="tab">管理员管理</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <p>
                            总计有n名教师
                        </p>
                        <p>
                            总计有n名管理员
                        </p>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>
                            教师账号管理
                        </p>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <p>
                            管理员账号管理
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
